songServlet/src/main/xsd/songs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Wed Nov 15 2017 13:13:44 
		GMT+0100 (CET) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:complexType name="song">
		<xs:sequence>
			<xs:element name="id" type="xs:int"></xs:element>
			<xs:element name="title" type="xs:string"></xs:element>
			<xs:element name="artist" type="xs:string"></xs:element>
			<xs:element name="album" type="xs:string"></xs:element>
			<xs:element name="released" type="xs:int" ></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="songs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="song" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>